<header>
    <nav>
        <a href="/">LIbery</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">authors</a></li>
        </ul>
    </nav>
</header>